<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LibarySystem.Properties.Settings.qlySachConnectionString" connectionString="Data Source=MINH_NHUT;Initial Catalog=qlySach;Integrated Security=True;TrustServerCertificate=True" providerName="System.Data.SqlClient" />
        <add name="LibarySystem.Properties.Settings.qlyThanhvienConnectionString" connectionString="Data Source=MINH_NHUT;Initial Catalog=qlyThanhvien;Integrated Security=True;TrustServerCertificate=True" providerName="System.Data.SqlClient" />
        <add name="LibarySystem.Properties.Settings.qlyMuonConnectionString" connectionString="Data Source=MINH_NHUT;Initial Catalog=qlyMuon;Integrated Security=True;TrustServerCertificate=True" providerName="System.Data.SqlClient" />
        <add name="LibarySystem.Properties.Settings.qlyTaiKhoanConnectionString" connectionString="Data Source=MINH_NHUT;Initial Catalog=qlyTaiKhoan;Integrated Security=True;TrustServerCertificate=True" providerName="System.Data.SqlClient" />
        <add name="LibarySystem.Properties.Settings.qlyThanhvienConnectionString1" connectionString="Data Source=MINH_NHUT;Initial Catalog=qlyThanhvien;Integrated Security=True;Encrypt=True;TrustServerCertificate=True" providerName="System.Data.SqlClient" />
        <add name="LibarySystem.Properties.Settings.qlyTaiKhoanConnectionString1" connectionString="Data Source=MINH_NHUT;Initial Catalog=qlyTaiKhoan;Integrated Security=True;Encrypt=True;TrustServerCertificate=True" providerName="System.Data.SqlClient" />
        <add name="LibarySystem.Properties.Settings.qlyQuanMucConnectionString" connectionString="Data Source=MINH_NHUT;Initial Catalog=qlyQuanMuc;Integrated Security=True;TrustServerCertificate=True" providerName="System.Data.SqlClient" />
        <add name="LibarySystem.Properties.Settings.qlyMuonConnectionString1" connectionString="Data Source=MINH_NHUT;Initial Catalog=qlyMuon;Integrated Security=True;Encrypt=True;TrustServerCertificate=True" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>